@model com.web.ViewModels.CheckOutViewModel
@{
    ViewBag.Title = "CheckOut";
}

<div id="ProductCart" class="title-section">
    <h2 class="title"> Product Cart </h2>
</div>
@if (Model != null)
{
    if (Model.vCartProducts != null && Model.vCartProductID.Count > 0)
    {
        <table class="table table-hover">
            <thead class="alert-info">
                <tr>
                    <th>Product Name</th>
                    <th>Qty</th>
                    <th>Product Price</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.vCartProducts)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@Model.vCartProductID.Count(x => x.Equals(item.ID))</td>
                        <td>@item.Price</td>
                        <td>@(item.Price * Model.vCartProductID.Count(x => x.Equals(item.ID)))</td>
                    </tr>
                }
                <tr>
                    <td align="center" colspan="3"><h2 class="title">Total Amount</h2></td>
                    <td>
                        <h2 class="title">
                            @( Model.vCartProducts.Sum(price => price.Price * Model.vCartProductID.Count(x => x.Equals(price.ID))) )
                        </h2>
                    </td>
                </tr>
            </tbody>
        </table>
    }
}

@if (Model != null && Model.vCartProducts != null && Model.vCartProducts.Count > 0)
{

    <section class="flat-row main-shop shop-slidebar">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Your cart</span>
                        </h4>
                        <ul class="list-group mb-3">
                            @foreach (var products in Model.vCartProducts)
                             {
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h6 class="my-0">@products.Name</h6>
                                            <small class="text-muted">@( products.Description.Length > 100 ? products.Description.Substring(0, 99) : products.Description)</small>
                                        </div>
                                        <div class="col-md-3 text-muted">
                                            Qty - @( Model.vCartProductID.Count(id => id.Equals(products.ID)) ) 
                                        </div>
                                    </div>
                                    <span class="text-muted"><b>Unit Price :</b> $@products.Price</span>
                                    <span class="text-muted"><b>Total Price :</b>$@( products.Price * Model.vCartProductID.Count(pId => pId.Equals(products.ID)))</span>
                                </li>
                             } 
                            <li class="list-group-item d-flex justify-content-between">
                                <h6>Total Bill (USD)</h6>
                                <strong>$</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 order-md-1">
                        <h4 class="mb-3">Billing address</h4>
                        <form class="needs-validation" novalidate="">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="username">Username</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">email</span>
                                    </div>
                                    <input type="text" class="form-control" id="username" placeholder="Username" required="">
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Your username is required.
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                            </div>

                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="country">Country</label>
                                    <select class="custom-select d-block w-100" id="country" required="">
                                        <option value="">Choose...</option>
                                        <option>United States</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="state">State</label>
                                    <select class="custom-select d-block w-100" id="state" required="">
                                        <option value="">Choose...</option>
                                        <option>California</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">Zip</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" required="">
                                    <div class="invalid-feedback">
                                        Zip code required.
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="same-address">
                                <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="save-info">
                                <label class="custom-control-label" for="save-info">Save this information for next time</label>
                            </div>
                            <hr class="mb-4">

                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                        </form>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
}
else
{
    <h2 class="title">
        Product Cart is Empty
    </h2>
}