@model com.web.ViewModels.CheckOutViewModel
@{
    ViewBag.Title = "CheckOut";
}

<div id="ProductCart" class="title-section">
    <h2 class="title"> Product Cart </h2>
</div>


@if (Model != null && Model.vCartProducts != null && Model.vCartProducts.Count > 0)
{

    <section class="flat-row main-shop shop-slidebar">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Your cart</span>
                        </h4>
                        <ul class="list-group mb-3">
                            @foreach (var products in Model.vCartProducts)
                             {
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h6 class="my-0">@products.Name</h6>
                                            <small class="text-muted">@( products.Description.Length > 100 ? products.Description.Substring(0, 99) : products.Description)</small>
                                        </div>
                                        <div class="col-md-3 text-muted">
                                            Qty - @( Model.vCartProductID.Count(id => id.Equals(products.ID)) ) 
                                        </div>
                                    </div>
                                    <span class="text-muted"><b>Unit Price :</b> $@products.Price</span>
                                    <span class="text-muted"><b>Total Price :</b>$@( products.Price * Model.vCartProductID.Count(pId => pId.Equals(products.ID)))</span>
                                </li>
                             } 
                            <li class="list-group-item d-flex justify-content-between">
                                <h6>Total Bill (USD)</h6>
                                <strong>$ @( Model.vCartProducts.Sum( price => price.Price * Model.vCartProductID.Count( x=> x.Equals(price.ID)) ) )  </strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 order-md-1">
                        <h4 class="mb-3">Billing address</h4>
                        <form class="needs-validation" novalidate="">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">Full Name</label>
                                    <input type="text" class="form-control d-block" id="firstName" placeholder="Full Name" readonly value="@Model.User.Name" required="">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="email">Email <span class="text-muted"></span></label>
                                <input type="email" class="form-control" id="email" value="@Model.User.Email" readonly>
                            </div>

                            <div class="mb-3">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" value="@Model.User.Address" readonly required="">
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                        </form>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
}
else
{
    <h2 class="title">
        Product Cart is Empty
    </h2>
}