@model List<com.Entities.Product>
@{
    ViewBag.Title = "ProductTable";
}

<h2>ProductTable</h2>

@Html.ActionLink(" ", "Create", "Product", null, new { @class = " btn btn-sm glyphicon glyphicon-plus" })

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price</td>
            <td>
                @if (product.Category != null)
                {
                    @product.Category.Name
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>
                @Html.ActionLink(" ", "cart", "Product", null, new { @class = "btn btn-warning glyphicon glyphicon-shopping-cart" })
                @Html.ActionLink(" ", "Edit", "Product", new { id = product.ID }, new { @class = " btn btn-sm btn-info glyphicon glyphicon-pencil" })
                @Html.ActionLink(" ", "Delete", "Product", new { id = product.ID }, new { @class = " btn btn-sm btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
    }
</table>

