@model com.web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@{
    var _p = Model.FeaturedProducts;
    var _c = Model.FeaturedCategories;
}




<section class="body-content" id="featuredCategories" style="margin:20px; padding:20px;">
    <div class="row">
        <p class="text-capitalize lead text-center text-muted">Featured Categories</p>
        @foreach (var cat in _c)
        {
            <div class="col-md-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="@cat.ImageURL" width="170" height="200" class="card-box-shadow img-rounded card-img-top" alt="@cat.Name">
                    <div class="card-body">
                        <h5 class=" text-center card-title"><span class="lead">@cat.Name</span></h5>
                        <p class="card-text text-center text-muted"> @cat.Description.</p>
                        <a href="#" class="btn btn-block btn-info">View More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<section class="body-content" id="featuredProducts">

    <div class="row">
        <p class="text-capitalize lead  text-center text-muted">Featured Products</p>
        @foreach (var product in _p)
        {
            <div class="col-md-4">
                <div class="card text-center " style="width: 18rem; ">

                    <img src="@product.ImageURL" width="170" height="200" class="card-box-shadow img-rounded card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class=" text-center card-title"><span class="lead">@product.Name</span></h5>
                        <p class="card-text text-muted"> @product.Description.</p>
                        <a href="#" class="text-center btn btn-block btn-success">$@product.Price BUY</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>