@model com.web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    //var _newProduct = Model.NewProducts;
    //var _xProduct = Model.NewProductx;
    var _cMen = Model.FeaturedCategories[0];
    var _cWo = Model.FeaturedCategories[1];
    var _cKid = Model.FeaturedCategories[2];
    //var _cAcc = Model.FeaturedCategories[3];
}

<!-- IMAGE BOX -->
<section class="flat-row row-image-box">
    <div class="container">
        <div class="row gutter-10">
            <div class="col-sm-6 col-md-4">
                 <div class="flat-image-box style-1 data-effect div-h22 clearfix">
                     <div class="item data-effect-item">
                         <div class="inner">
                             <div class="thumb">
                                 <img src="@_cMen.ImageURL" alt="@_cMen.Name" class="img-fluid img-thumbnail">
                                 <div class="elm-btn">
                                     <a href="#" class="themesflat-button bg-white width-150">@_cMen.Name</a>
                                 </div>
                                 <div class="overlay-effect bg-color-1"></div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div><!-- /.col-md-4 -->

            <div class="col-sm-6 col-md-4">
                        <div class="flat-image-box style-1 row2 data-effect clearfix">
                            <div class="item data-effect-item">
                                <div class="inner">
                                    <div class="thumb">
                                        <img src="@_cKid.ImageURL" class="img-fluid img-thumbnail" alt="Image">
                                        <div class="elm-btn">
                                            <a href="#" class="themesflat-button bg-white width-150">@_cKid.Name</a>
                                        </div>
                                        <div class="overlay-effect bg-color-1"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="item data-effect-item">
                                <div class="inner">
                                    <div class="thumb">
                                        <img src="@_cKid.ImageURL"  alt="Image">
                                        <div class="elm-btn">
                                            <a href="#" class="themesflat-button bg-white width-150">@_cKid.Name</a>
                                        </div>
                                        <div class="overlay-effect bg-color-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-4 -->

            <div class="col-sm-6 col-md-4">
                <div class="flat-image-box style-1 data-effect div-h20 clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="@_cWo.ImageURL"  class="img-fluid img-thumbnail" alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-white width-150">@_cWo.Name</a>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- END IMAGE BOX -->
<!-- PRODUCT NEW -->
<section class="flat-row row-product-new">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-52">
                    <h2 class="title">
                        New Product
                    </h2>
                </div>

                @{ Html.RenderAction("Products", "Widgets", new { isLatestProduct = true }); }

            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- END PRODUCT NEW -->
<!-- ANIMATION BOX -->
<section class="flat-row row-animation-box bg-section row-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-animation-block">
                    <div class="title-section width-before-17 bg-before-white margin-bottom-14">
                        <div class="sup-title"><span>NEW TREND 2018</span></div>
                        <h2 class="title font-size-52 line-height-76">Women‘s Collection</h2>
                        <div class="sub-title"><span>Big Sale of this Week</span></div>
                    </div>
                    <div class="elm-btn text-center">
                        <a href="#" class="themesflat-button bg-accent has-padding-36">Shop Now</a>
                    </div>
                </div><!-- /.flat-animation-block -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- END ANIMATION BOX -->
<!-- PRODUCT -->
<section class="flat-row row-product-project style-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-41">
                    <h2 class="title">Best Sale</h2>
                </div>
                @{ Html.RenderAction("Products", "Widgets", new { isLatestProduct = false}); }

            </div>
        </div>
    </div>
</section>
<!-- END PRODUCT -->
<!-- ICON BOX -->
<section class="flat-row row-icon-box bg-section bg-color-f5f">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="flat-icon-box icon-top style-1 clearfix text-center">
                    <div class="inner no-margin">
                        <div class="icon-wrap">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="text-wrap">
                            <h5 class="heading"><a href="#">Free Shipping</a></h5>
                            <p class="desc">Free Shipping on order over $99</p>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="flat-icon-box icon-top style-1 clearfix text-center">
                    <div class="inner">
                        <div class="icon-wrap">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="text-wrap">
                            <h5 class="heading"><a href="#">Cash On Delivery</a></h5>
                            <p class="desc">The Internet Trend To Repeat</p>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="flat-icon-box icon-top style-1 clearfix text-center">
                    <div class="inner">
                        <div class="icon-wrap">
                            <i class="fa fa-gift"></i>
                        </div>
                        <div class="text-wrap">
                            <h5 class="heading"><a href="#">Gift For All</a></h5>
                            <p class="desc">Receive Gift When Subscribe</p>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="flat-icon-box icon-top style-1 clearfix text-center">
                    <div class="inner">
                        <div class="icon-wrap">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="text-wrap">
                            <h5 class="heading"><a href="#">Opening All Week</a></h5>
                            <p class="desc">6.00 am - 17.00pm</p>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
        </div>
    </div>
</section>
<!-- END ICON BOX -->
