@model List<com.Entities.Category>
@{
    /**/

    ViewBag.Title = "CategoryTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<button type="button" id="addNew" class="btn btn-sm glyphicon glyphicon-plus"></button>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="tblbody">
        @foreach (var cat in Model)
        {
            <tr>
                <td>@cat.Name</td>
                <td>@cat.Description</td>
                <td>@cat.isFeatured</td>
                <td>
                    <button data-id="@cat.ID" type="button" class="_editBtn btn btn-sm btn-info glyphicon glyphicon-pencil"></button>
                    <button data-id="@cat.ID" type="button" class="_deleteBtn btn btn-sm btn-danger glyphicon glyphicon-trash"></button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
 
    </script>
}