
@model com.Entities.Category

@{
    ViewBag.Title = "Create"; 
}

<div class="row" style="margin:10px;">

        @using (Html.BeginForm("CreateOrUpdate", "Category", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
        {

            <div class="col-md-6" style="margin:0">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ID)
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 3 })

                </div>

                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.isFeatured) Is Featured ?
                    </label>
                </div>

                <div class="form-group">
                    <input type="file" id="imageUpload" class="form-control" name="Image" accept=".png, .jpg" />
                    <input name="imageUrl" id="imageUrl" type="hidden" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>

            <div class="col-md-6" style="margin-left:-200px;">
                <div class="card">

                    @if (Model.ImageURL != null)
                     {
                        <img id="categoryImage" width="250" height="300" src="@Model.ImageURL" class=" img-fluid " />
                     }
                    else
                    {
                        <img id="categoryImage" width="400" height="300" src="~/Content/images/noOne.png" class=" img-fluid " />
                    }
                </div>
            </div>

         }
</div>
@section Scripts{
    <script type="text/javascript">
        $('document').ready(function () {

            $("#imageUpload").on('change', function () {
                var element = this;
                var formData = new FormData();
                var totalFiles = element.files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = element.files[i];
                    formData.append("Photo", file)
                }
                $.ajax({
                    type: 'POST',
                    url: '/Shared/UploadImage',
                    dataType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false
                }).done(function (response) {
                    if (response.Success) {
                        $("#categoryImage").attr("src", response.ImageURL);
                        $("#categoryImage").width(250);
                        $("#categoryImage").height(300);
                        $("#imageUrl").val(response.ImageURL);
                    }
                    console.log(response);
                }).fail(function (XMLHttpRequest, textStatus, errorThrown) { alert('Fail') });
            });
        });
    </script>
}