@model com.Entities.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div class="row">
    <form id="updateCategoryForm">
        <input type="hidden" value="@Model.ID" name="ID" />
        <div class="col-md-6">

            <div class="form-group">
                <input value="@Model.Name" class="form-control" type="text" placeholder="Product Name" name="Name" />
            </div>

            <div class="form-group">
                <input value="@Model.Description" class="form-control" type="text" placeholder="Description" name="Description" />
            </div>

            <div class="checkbox">
                <label class="text-muted">
                    <input checked="@Model.isFeatured" type="checkbox" name="isFeatured" class="checkbox" /> Is Featured ?
                </label>
            </div>

            <div class="form-group">
                <input type="file" src="@Model.ImageURL" id="imageUpload" class="form-control" name="Image" accept=".png, .jpg" />
                <input name="imageUrl" id="imageUrl" type="hidden" />
            </div>

            <div class="form-group">
                <input type="button" value="update" id="updateCat" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                @{ var imgLink = Model.ImageURL;}
                @if (!string.IsNullOrEmpty(Model.ImageURL))
                {
                    <img id="categoryImage" width="400" height="300" src="@Model.ImageURL" class=" img-fluid " />
                }
                else
                {
                    <img id="categoryImage" width="400" height="300" src="~/Content/images/noOne.png" class=" img-fluid " />
                }
            </div>
        </div>
    </form>
</div>
