@model com.Entities.Category
@{ ViewBag.Title = "Edit"; }
<div id="uCat" class="title-section">
    <h2 class="title">
        Update Category
    </h2>
</div>
<div class="row">
    <div class="col-md-6">
        <form id="updateCategoryForm">
            <input type="hidden" value="@Model.ID" name="ID" />


            <div class="form-group">
                <input value="@Model.Name" class="form-control" type="text" placeholder="Product Name" name="Name" />
            </div>

            <div class="form-group">
                <input value="@Model.Description" class="form-control" type="text" placeholder="Description" name="Description" />
            </div>

            <div class="form-group">
                <label>Is Featured?</label>
                <div class="input-group">
                    @{
                        var rdtrue = Model.isFeatured ? "checked" : string.Empty;
                        var rdfalse = !Model.isFeatured ? "checked" : string.Empty;
                    }
                    <div class="radio form-control">
                        <label><input name="isFeatured" type="radio" value="True" @rdtrue /> Yes</label>
                    </div>
                    <div class="radio form-control">
                        <label><input name="isFeatured" type="radio" value="False" @rdfalse /> No</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="file" id="imageUpload" class="form-control" name="Image" accept=".png, .jpg" />
                <input name="imageUrl" id="imageUrl" value="@Model.ImageURL" type="hidden" />
            </div>

            <div class="form-group">
                <input type="button" value="update" id="updateCat" class="btn btn-primary" />
            </div>
        </form>
    </div>
    
    <div class="col-md-6">
        <div class="card">
            @{
                var imgLink = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "~/Content/images/noOne.png";
            }
            <div class="col-md-8">
                <img id="categoryImage" src="@imgLink" class="img-thumbnail img-fluid " />
            </div>
        </div>
    </div>
</div>
